svg[role="button"] {
    cursor: pointer;
}

.App {
    text-align: center;
    background-image: url('./../img/background.png');
    height: 100%;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
    position: relative;
}

    .App .main-content {
        height: calc(100% - 8em);
        width: 100%;
        min-height: calc(200px - 4em);
        min-width: 200px;
        overflow-y: visible;
        position: relative;
    }

    .App aside {
        display: block;
        height: 100%;
        width: 0;
        position: absolute;
    }

    .App main {
        display: block;
        height: 100%;
        width: 100%;
        left: 0;
        position: relative;
    }

table {
    position: relative;
    font-size: 1em;
    color: #855555;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

    table th {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        background-color: #D7C28D;
    }

td, th {
    border-color: #DDCBA0;
    border-style: solid;
    border-width: 3px;
    margin: 1px;
    background-color: #d8bc86aa;
}

.IntroBackground {
    width: 60%;
    top: 5%;
    background-size: cover;
    background-position: center;
    border-radius: 120px;
    aspect-ratio: 1 / 1;
    background-image: url('./../img/logo1b.png');
}

.IntroSpecialModal {
    opacity: 0;
}

.modal-window {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%
}

.modal-top-bar {
    width: 100%;
}

.modal-x-button {
    background-color: yellow;
}

.modal-delete-content {
}

    .modal-delete-content h2 {
    }

    .modal-delete-content p {
    }

.clickable {
    cursor: pointer;
}
