.CameraComponent {
   min-width: 16em;
   min-height: 12em;
   width: 100%;
   height: 100%;
}

.CameraComponent .container{
    width: 100%;
    height: 100%;
}

#camera-component-video {
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    max-width: 80%;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    z-index: -1;
    border-style: double;
    border-color: #D1C4C1;
}

#camera-component-canvas {
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    background-color: black;
    margin: 2em;
    opacity: 0;
}

.CameraComponent div.take-picture {
    width: 2em;
    height: 2em;
    left: calc(50% - 1em);
}

.CameraComponent div.switch-camera {
    left: 5em;
    width: 1.5em;
    height: 1.5em;
}

.CameraComponent div.button {
    position: relative;
    display: block;
    bottom: 0vh;
    color: #C1C1C1;
    bottom: 12vh;
    cursor: pointer;
}
.CameraComponent div.button:hover {
    color: white;
}
    .CameraComponent .take-picture-overlay {
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 998;
    display: none;
}

.CameraComponent .button svg {
    width: 100%;
    height: 100%;
    z-index: 999;
}
